body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient( circle at 50% -20.71%, #a4d8ec 0, #a7d7ef 6.25%, #abd6f1 12.5%, #b0d5f3 18.75%, #b5d3f4 25%, #bbd2f4 31.25%, #c1d0f4 37.5%, #c7cff3 43.75%, #cdcdf2 50%, #d3cbf0 56.25%, #d9caed 62.5%, #dec8ea 68.75%, #e3c7e7 75%, #e8c6e3 81.25%, #ecc5df 87.5%, #efc4da 93.75%, #f2c4d6 100%);
    line-height: 1.5;
    height: 100%;
    min-height: 100%;
    overscroll-behavior: none;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background: transparent;
    height: 600px;
    justify-content: space-evenly;
    border-radius: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font: bold 2.5rem serif;
    border-bottom: solid 2px black;
    margin-bottom: 20px;
}

.input {
    display: flex;
    width: 400px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.input input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font: bold 1.5rem serif;
    align-items: center;
}

.input label {
    font: bold 1.5rem serif;
}

button {
    height: 40px;
    font: bold 1.2rem serif;
    outline: none;
    background-image: radial-gradient( circle at 50% -20.71%, #ade5ff 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
}

button:hover {
    background-image: radial-gradient( circle at 50% -20.71%, #a4d8ec 0, #a7d7ef 6.25%, #abd6f1 12.5%, #b0d5f3 18.75%, #b5d3f4 25%, #bbd2f4 31.25%, #c1d0f4 37.5%, #c7cff3 43.75%, #cdcdf2 50%, #d3cbf0 56.25%, #d9caed 62.5%, #dec8ea 68.75%, #e3c7e7 75%, #e8c6e3 81.25%, #ecc5df 87.5%, #efc4da 93.75%, #f2c4d6 100%);
    color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    text-shadow: none;
    transition: background-position 1s cubic-bezier(0.35, 0.35, 0, 1);
}

.result {
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 400px;
    height: 150px;
    border-radius: 5px;
    font: italic 1.5rem serif;
    background: transparent;
    color: rgb(22, 22, 21);
    padding: 20px;
    user-select: none;
}